<ion-header>
  <ion-navbar>
    <ion-title>Card Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerms" placeholder="Type to search" (search)="basicSearch()" (ionClear)="clearSearch()"></ion-searchbar>
  <div *ngIf="searchResults === undefined; else resultList">
    <p> Oops! Nothing found yet, but remember that an empty canvas holds infinite possibilities. </p>
  </div>
  <ng-template #resultList>
    <ion-list>
      <ion-item *ngFor="let card of searchResults">
        <h4>{{card.name}}</h4>
        <p>{{card.type_line}}</p>
        <p>{{card.set_name}}</p>
      </ion-item>
    </ion-list>
  </ng-template>
  
</ion-content>