<ion-header>
  <ion-navbar>
    <ion-title>Card Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerms" placeholder="Type to search" (search)="basicSearch()" (ionClear)="clearSearch()"></ion-searchbar>
  <div *ngIf="status === 0">
    <p> Oops! Nothing found yet, but remember that an empty canvas holds infinite possibilities. </p>
  </div>
  <div *ngIf="status === 1">
    <p>No cards found matching search criteria.</p>
  </div>
  <ion-list *ngIf="status === 2">
    <button ion-item *ngFor="let card of searchResults" (click)="viewCard(card)">
      <img src="{{ getCardImage(card, 'small') }}" alt="{{ card.name }}">
      <h2>{{ card.name }}</h2>
      <p>{{ card.type_line }}</p>
      <p>{{card.set_name}}</p>
    </button>
  </ion-list>
  
</ion-content>