page-life-tracker {
    ion-card {
        position: relative;
        text-align: center;
    }

    .active-card-title {
        position: absolute;
        top: 30%;
        font-size: 4.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .active-card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
    }

    .plus {
        right: 20%;
    }

    .minus {
        left: 20%;
    }

    .plus, .minus {
        position: absolute;
        top: 40%;
        font-size: 2.5em;
        color: #fff;
    }

    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 100%;

        ion-card {
            position: relative;
            display: inline-block;
            width: 40%;
        }

        .card-title {
            position: absolute;
            top: 15%;
            font-size: 2.5em;
            width: 100%;
            color: #fff;
        }
    
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 60%;
            width: 100%;
            color: #fff;
        }
    }

    .eliminated {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
